@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

body {
  font-family: "PT Sans", sans-serif;

  font-size: 22px;
  line-height: 26px;
  color: #333333;
  background-color: #FFFFFF;
}

.page-header {
  color: #000000;
  background-color: #FFFFFF;
}

.navigation-link {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  color: inherit;
  background-color: inherit;
  text-decoration: none;
}

.navigation-user-link {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  color: inherit;
  background-color: inherit;
  text-decoration: none;
}

.button-navigation-user-item {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  color: #FFFFFF;
  background-color: #756157;
}

.main-index-promo {
  background-color: #82B3D3;
  text-align: center;
  background-image: url("../images/hero.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.advantages {
  text-align: center;
}
.promo-title-text {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}

.advantages-title {
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.advantages-item-photo {
  color: #FFFFFF;
  background-color: #82B3D3;
}

.advantages-item {
  color: #000000;
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item:nth-child(3) {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-description {
  font-size: 18px;
  line-height: 21px;
}

.servuces-title {
  text-align: center;
}

.servuces-title-text {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
}

.servuces-text {
    color: #333333;
}

.services-hotel {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
  color: #000000;
}

.services-food {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
  color: #000000;
}

.services-souvenirs {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
  color: #000000;
}

.hotel-text {
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.food-text {
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.souvenirs-text {
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.services-item {
  background-attachment: rgba(0, 0, 0, 0.2);
}

.services-item:first-child {
  background-color: rgba(131, 179, 211, 0.12);
}

.services-item:last-child {
  background-color: rgba(131, 179, 211, 0.12);
}

.hotel-search-title {
  text-align: center;
}

.hotel-search-subtitle {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
}

.button-search-hotel {
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFFFFF;
  background-color: #756157;
}

.page-footer {
  text-align: center;
}

.newsletter {
  color: #FFFFFF;
  background-color: #000000;
  background-image: url("../images/footer/subscribe.png");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.page-main {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.field {
  font-size: 18px;;
  line-height: 24px;
  color: #000000;
}

.newsletter-button {
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #82B3D3;
}

.social-button {
color: #000000;
text-decoration: none;
}

.footer-contacts-phone {
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
}

/*Catalog*/

.main-inner {
  color: #FFFFFF;
  background-color: #000000;
  background-image: url("../images/filter.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.inner-title {
  font-size: 60px;
  font-weight: 700;
  line-height: 78px;
}


.breadcrumbs-link {
  font-size: 16px;
  line-height: 21px;
}

.catalog-filter-title {
  font-size: 20px;
  line-height: 24px;
}

.control-input {
  font-size: 18px;
  line-height: 23px;
}

.button-submit {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #82B3D3;
}

.button-reset {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #000000;
}

.catalog-hotel-search {
  font-size: 16px;
  line-height: 20px;
  background-color: #FFFFFF;
}

.catalog-search {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}

.select-control {
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.hotel-card {
  text-align: center;
}

.hotel-card-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: #000000;
  text-decoration: none;
}

.hotel-card-type {
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.hotel-card-price {
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.hotel-card-button {
  font-weight: 700;
  text-transform: uppercase;
  color: #FFFFFF;
  text-decoration: none;
}

.details {
  background-color: #756157;
}

.favourites {
  background-color: #82B3D3;
}

.hotel-rating {
  color: #333333;
  font-weight: 400;
}

.pagination-link {
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  color: #FFFFFF;
  background-color: #82B3D3;
  text-decoration: none;
  text-align: center;
}

.ellipsis {
  font-weight: 400;
  color: #000000;
  background-color:#FFFFFF;
}

.pagination-current {
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  background-color: #F2F2F2;
}

.pade-footer-catalog {
  color: #000000;
  background-color: #FFFFFF;
}

.page-main-text-catalog {
  color: #333333;
}
