@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  background-color: #f2f2f2;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.wrapper {
  margin-left: auto;
  margin-right: auto;
  background-color: #ffffff;
  width: 1200px;
}

.page-box {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
}

.page-header {
  display: flex;
  padding-left: 70px;
  padding-right: 70px;
}

.main-container {
  flex-grow: 1;
}

/*Навигация*/

.navigation-logo {
  margin-right: 44px;
  margin-bottom: -6px;
  z-index: 1;
}

.navigation-item {
  margin-right: 32px;
}

.navigation-link {
  display: block;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  text-decoration: none;
  padding: 20px 0;
}

.navigation-link-curret {
  border-bottom: 2px solid #756257;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.navigation-user-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-left: auto;
  padding: 0;
  list-style: none;
}

.navigation-user-link {
  position: relative;
  display: block;
  font-size: 20px;
  line-height: 24px;
  color: inherit;
  text-decoration: none;
  padding: 20px 12px;
}

.navigation-favourites {
  display: flex;
  color: #ffffff;
  font-size: 10px;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 11px;
  right: 2px;
  width: 20px;
  height: 20px;
  background-color: #7db54f;
  border-radius: 50%;
}

.navigation-user-link:hover svg,
.navigation-user-link:focus svg {
  fill: #756157;
}

.header-logo {
  display: block;
}

/*Кнопки*/

.button {
  color: #ffffff;
  background-color: #756157;
  font: inherit;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  padding: 8px 34px;
  border-radius: 4px;
}

button[disabled]:hover {
  background-color: #e5e5e5;
}

.button:hover,
.button:focus {
  background-color: #615048;
}

.button:active {
  color: rgba(255, 255, 255, 0.3);
}

.button:disabled {
  background-color: #e5e5e5;
}

.button-small {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.button-large {
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  padding: 8px 50px;
}

.button-navigation-user-item {
  margin: 14px 0 14px 22px;
}

.main-index-promo {
  background-color: #8199a5;
  background-image: url("../images/hero.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 51px 371px 75px 371px;
  position: relative;
}

.main-index-promo::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 57px;
  left: 0;
  bottom: 0;
  background-image: url("../images/divider.svg");
  background-repeat: no-repeat;
}

/*Преимущества и услуги*/

.advantages {
  text-align: center;
  padding-top: 69px;
}

.promo-title-text {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
  margin: 0 auto 25px;
  padding: 0 280px;
}

.advantages-text {
  margin: 0;
  margin-bottom: 90px;
  padding: 0 200px;
}

.advantages-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.advantages-title-photo,
.advantages-title {
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 30px;
}

.advantages-title::after {
  content: "";
  display: block;
  margin: 0 auto;
  margin-top: 30px;
  top: 86px;
  left: 85px;
  width: 60px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
}

.advantages-title-photo::after {
  border-bottom-color: rgba(255, 255, 255, 0.3);
}

.advantages-item {
  color: #000000;
  background-color: rgba(131, 179, 211, 0.12);
  padding: 113px 85px;
  box-sizing: border-box;
  flex: 0 0 400px;
}

.advantages-item-photo {
  display: flex;
  width: 100%;
  color: #ffffff;
  background-color: #82b3d3;
}

.advantages-photo {
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.advantages-item-reverse {
  flex-direction: row-reverse;
}

.advantages-item-box {
  box-sizing: border-box;
  flex: 0 0 400px;
  padding: 102px 85px;
}

.advantages-item:nth-child(3) {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-description {
  font-size: 18px;
  line-height: 21px;
  margin: 0;
}

.advantages-item p,
.services-item p,
.pade-footer-catalog p {
  color: #333333;
}

.services {
  text-align: center;
  padding-top: 64px;
}

.services-list {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  flex-wrap: wrap;
}

.services-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
  margin-bottom: 20px;
  padding: 0 348px;
}

.services-text {
  margin: 0;
  margin-bottom: 64px;
  padding: 0 200px;
}

.services-item {
  color: #000000;
  background-color: rgba(131, 179, 211, 0.12);
  flex: 0 0 400px;
  box-sizing: border-box;
  padding: 81px 85px;
}

.services-hotel {
  background-image: url("../images/home.svg");
}

.services-food {
  background-image: url("../images/food.svg");
}

.services-souvenirs {
  background-image: url("../images/souvenir.svg");
}

.services-item-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
  color: #000000;
  padding-top: 102px;
  padding-bottom: 30px;
  margin: 0;

  background-repeat: no-repeat;
  background-size: 75px 76px;
  background-position: top;
}

.services-item-text {
  font-size: 18px;
  line-height: 21px;
  margin: 0;
}

.services-item:nth-child(even) {
  background-color: #ffffff;
}

/*Поиск гостицины*/

.hotel-search {
  text-align: center;
  padding-bottom: 96px;
}

.hotel-search-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
  padding: 96px 451.5px 20px;
}

.hotel-search-text {
  margin: 0;
  padding: 0 290px 54px;
}

.button-search-hotel {
  background-color: #756157;
}

/*Footer*/

.newsletter {
  color: #ffffff;
  background-color: #9ec4e0;
  background-image: url("../images/footer/subscribe.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  padding-bottom: 104px;
}

.page-main {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
  padding: 96px 350px 20px;
}

.page-main-text {
  margin: 0;
  padding: 0 362.5px 54px;
}

.newsletter-form {
  display: flex;
  margin-left: 258px;
}


.field {
  font: inherit;
  color: #000000;
  background-color: #f2f2f2;
  width: 432px;
  padding: 14px 0 14px 20px;
  border-width: 0;
  border-radius: 4px 0 0 4px;
}

.field::placeholder {
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  opacity: 0.6;
}

.field:not(:disabled):hover {
  background-color: #e6e6e6;
}

.field:focus {
  background-color: #e6e6e6;
  outline: 3px solid #83b3d3;
  outline-offset: -3px;
}

.field:not(:placeholder-shown) {
  background-color: #f2f2f2;
  outline: 2px solid #000000;
  outline-offset: -2px;
}

.field:disabled,
.field:disabled::placeholder {
  opacity: 0.5;
}

.newsletter-button {
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #82b3d3;
  border-width: 0;
  border-radius: 0 4px 4px 0;
  max-width: 232px;
}

.newsletter-button:hover {
  background-color: #68a2ca;
}

.footer-social {
  display: flex;
  justify-content: space-between;
  gap: 195px;
  padding: 40px 70px 30px;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  list-style: none;
  align-items: center;
  padding: 5px 0;
}

.footer-icon {
  margin: auto;
  fill: #83b3d3;
}

.social-button {
  display: flex;
  justify-content: center;
  width: 47px;
  height: 40px;
  background-repeat: no-repeat;
  background-position: center;
  box-sizing: border-box;
}

.social-button:hover svg {
  fill: #68a2ca;
}

.social-button:active svg {
  fill: rgba(104, 162, 202, 0.3);
}

.footer-contacts-phone {
  width: 334px;
  font-size: 40px;
  line-height: 1;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
  min-width: 332px;
  align-self: center;
}

.footer-contacts-phone:hover,
.navigation-link:hover,
.footer-contacts-phone:focus,
.navigation-link:focus {
  color: #756157;
}

.footer-contacts-phone:active,
.navigation-link:active {
  color: rgba(117, 97, 87, 0.3);
}

.htmlacademy-link {
  display: flex;
  align-items: center;
  background-position: center;
  box-sizing: border-box;
}

.htmlacademy-icon {
  fill: #000000;
}

.htmlacademy-link:hover svg {
  fill: #756157;
}

.htmlacademy-link:active svg {
  fill: rgba(117, 97, 87, 0.3);
}

/*Catalog*/

.filter-container {
  padding: 35px 70px 56px 70px;
  color: #ffffff;
  background-color: #8abada;
  background-image: url("../images/filter.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.inner-title {
  font-size: 60px;
  font-weight: 700;
  line-height: 78px;
  margin: 0;
  margin-bottom: 8px;
}

/*Отборы*/

.catalog-filter-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  padding-bottom: 20px;
  list-style: none;
}

.breadcrumbs-link {
  display: flex;
  font-size: 16px;
  padding-right: 10px;
  align-items: center;
  height: 21px;
  padding-bottom: 20px;
}

.breadcrumbs-link:hover {
  color: rgba(255, 255, 255, 0.6);
}

.breadcrumbs-link:active {
  color: rgba(255, 255, 255, 0.3);
}

.breadcrumbs-icon {
  margin-right: auto;
  fill: #ffffff;
}

.breadcrumbs-link:hover svg {
  fill: rgba(255, 255, 255, 0.6);
}

.breadcrumbs-link:active svg {
  fill: rgba(255, 255, 255, 0.3);
}

.breadcrumbs-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.breadcrumbs-item + li::before {
  background-image: url("../images/arrow-right.svg");
  background-repeat: no-repeat;
  background-position: center;
  content: "";
  width: 8px;
  height: 21px;
  margin-right: 10px;
  margin-bottom: 20px;
}

.catalog-filter {
  display: flex;
}

.catalog-filtr-group {
  min-width: 150px;
  border: none;
  padding: 0;
  margin: 0;
  margin-right: 70px;
  margin-bottom: 16px;
}

.catalog-filter-price {
  display: flex;
  flex-direction: column;
  margin-left: 70px;
  margin-right: 68px;
  padding: 0;
  border: none;
}

.catalog-filter-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  padding: 0;
  padding-bottom: 16px;
}

.catalog-filter-item {
  font-size: 18px;
  line-height: 23px;
  padding-top: 16px;
}

.control {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
}

.control-mark {
  margin-right: 16px;
  left: 0;
  min-width: 20px;
  height: 20px;
  background-color: #ffffff;
  border-radius: 4px;
}

.control:hover .control-mark {
  background-color: rgba(255, 255, 255, 0.6);
}

.control:focus-within .control-mark {
  outline: 3px solid #83b3d3;
}

.control:active .control-mark {
  background-color: rgba(255, 255, 255, 0.3);
}

.control-label:hover {
  color: rgba(255, 255, 255, 0.6);
}

.control-label:active {
  color: rgba(255, 255, 255, 0.3);
}

.control-input[type="checkbox"]:checked + .control-mark::after {
  position: absolute;
  top: 6px;
  left: 4px;
  width: 13px;
  height: 12px;
  background-image: url("../images/checkmark.svg");
  background-repeat: no-repeat;
  content: "";
}

.control-input[type="radio"] + .control-mark {
  border-radius: 50%;
}

.control-input[type="radio"]:checked + .control-mark::before {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 10px;
  height: 10px;
  background-color: #3f5e72;
  border-radius: 50%;
  content: "";
}

.filter-price {
  display: flex;
  padding-top: 16px;
  margin-bottom: 44px;
}

.number-input {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  font-family: inherit;
  width: 143px;
  padding: 12px 40px 12px 20px;
  margin-right: 2px;
  border: none;
  box-sizing: border-box;
}

.number-input:not(:disabled):hover {
  background-color: #e6e6e6;
}

.number-input:focus {
  background-color: #e6e6e6;
  outline: 3px solid #83b3d3;
}

.number-input:disabled {
  opacity: 0.5;
}

.number-input-left {
  border-radius: 4px 0 0 4px;
}

.number-input-left::-webkit-inner-spin-button,
.number-input-right::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

input[type="number"] {
  appearance: textfield;
}

.number-input-right {
  border-radius: 0 4px 4px 0;
}

.filter-price label {
  position: relative;
}

.filter-price span {
  position: absolute;
  content: "";
  font-size: 18px;
  line-height: 24px;
  color: rgb(170, 170, 170);
  z-index: 1;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

/*Range*/

.range {
  position: relative;
  height: 4px;
  background-color: rgba(255, 255, 255, 0.3);
}

.range-bar {
  position: absolute;
  height: 100%;
  background-color: #ffffff;
}

.range-toggle {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.range-toggle:focus {
  outline: 3px solid #83b3d3;
}

.range-toggle:active {
  outline: 2px solid #83b3d3;
}

.toggle-min {
  left: 0;
}

.toggle-max {
  right: 0;
}

/*Кнопки фильтра*/

.filter-button {
  padding-top: 56px;
}

.button-submit {
  padding: 8px 50px;
  border: none;
  margin-bottom: 32px;
  background-color: #82b3d3;
}

.button-submit:hover,
.button-submit:focus,
.newsletter-button:hover,
.newsletter-button:focus {
  background-color: #68a2ca;
}

.button-submit:active,
.newsletter-button:active {
  color: rgba(255, 255, 255, 0.3);
}

.button-reset {
  padding: 5px 54px;
  border: 3px solid transparent;
  background-color: transparent;
}

.button-reset:disabled {
  background-color: transparent;
  opacity: 0.1;
}

.button-reset[disabled]:hover {
  color: rgba(255, 255, 255, 0.6);
  background-color: transparent;
}

.button-reset:hover {
  color: rgba(255, 255, 255, 0.6);
  background-color: transparent;
}

.button-reset:focus {
  border: 3px solid #83b3d3;
  background-color: transparent;
  outline: none;
}

.botton-reset:active {
  color: rgba(255, 255, 255, 0.3);
}

/*Результаты поиска*/

.catalog-hotel-search {
  padding: 50px 70px 52px;
  background-color: #ffffff;
  position: relative;
}

.results {
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  padding-bottom: 32px;
}

.catalog-search {
  margin-right: 200px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
  padding: 6px 0 6px 0;
  max-width: 338px;
}

.select-control {
  font-size: 16px;
  color: #333333;
  width: 292px;
  max-height: 48px;
  padding: 12px 0 12px 18px;
  margin-right: 62px;
  border-radius: 4px;
  border: 2px solid #e5e5e5;
  appearance: none;
  background-image: url("../images/arrow-down.svg");
  background-repeat: no-repeat;
  background-position: right 16px center;
  padding-right: 40px;
  background-color: transparent;
}

.select-control:hover {
  border-color: #68a2ca;
}

.select-control:focus {
  border-color: #3f5e72;
  outline: none;
}

.select-control:disabled {
  border-color: rgba(0, 0, 0, 0.3);
  color: rgba(0, 0, 0, 0.3);
}

.card-toggle {
  display: flex;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  margin-bottom: 8px;
}

.card-toggle-current {
  border-color: #000000;
}

.card-toggle:hover {
  border-color: #000000;
  outline: none;
}

.card-toggle:focus {
  border-color: #68a2ca;
  outline: none;
}

.card-toggle:active {
  border-color: #000000;
  outline: none;
}

.button-light {
  margin-left: 8px;
  max-width: 48px;
  padding: 0;
  font-size: 8px;
  background-color: #ffffff;
  color: #000000;
}

.info {
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.hotel-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 0;
  padding-bottom: 39px;
  justify-content: space-between;
  gap: 20px 0;
  list-style: none;
  border-bottom: 1px solid #e6e6e6;
}

.hotel-card {
  display: grid;
  grid-template-columns: repeat(2, 140px);
  grid-template-rows: 1fr;
  gap: 16px 20px;
  width: 298px;
  padding: 20px;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
}

.hotel-card-link {
  grid-column: 1/-1;
  text-decoration: none;
}

.hotel-card-image {
  display: block;
}

.hotel-card-title {
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  font-weight: 700;
  margin: 0;
  margin-top: 16px;
}

.hotel-card-type {
  text-align: left;
}

.hotel-card-price {
  text-align: right;
}

.details {
  background-color: #756157;
  padding-left: 26px;
  padding-right: 26px;
}

.favourites {
  background-color: #82b3d3;
  padding-left: 20px;
  padding-right: 20px;
}

.favourites:hover,
.favourites:focus {
  background-color: #68a2ca;
}

.favourites:active {
  color: rgba(255, 255, 255, 0.3);
}

.favourites-in {
  background-color: #7db54f;
  padding-left: 18px;
  padding-right: 18px;
}

.favourites-in:hover,
.favourites-in:focus {
  background-color: #6c9e42;
}

.favourites-in:active {
  color: rgba(255, 255, 255, 0.3);
}

.raiting {
  display: flex;
}

.raiting-star {
  content: "";
  width: 18px;
  height: 17px;
  display: block;
  background-image: url("../images/star.svg");
  background-position: left;
  background-repeat: no-repeat;
  padding: 10px 6px 10px 0;
}

.hotel-rating {
  color: #333333;
  background-color: #f2f2f2;
  font-weight: 400;
  padding: 9px 22px 8px 23px;
}

/*Пагинация*/

.pagination {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  padding-top: 38px;
  list-style: none;
}

.pagination-item {
  margin-right: 8px;
  margin-bottom: 8px;
}

.pagination-link {
  font-size: 20px;
  box-sizing: border-box;
  line-height: 36px;
  font-weight: 700;
  color: #ffffff;
  background-color: #82b3d3;
  text-decoration: none;
  display: block;
  padding: 12px 24px;
  border-radius: 4px;
}

.pagination-link-dual {
  padding: 12px 19px;
}

.ellipsis {
  font-weight: 400;
  color: #000000;
  background-color: inherit;
}

.pagination-current {
  color: #000000;
  background-color: #f2f2f2;
}

.pagination-link:hover,
.pagination-link:focus {
  background-color: #68a2ca;
}

.pagination-link:active {
  color: rgba(255, 255, 255, 0.3);
}

.pagination-current:hover,
.pagination-current:focus,
.pagination-current:active {
  color: #000000;
  background-color: #f2f2f2;
}

.pade-footer-catalog {
  text-align: center;
  color: #000000;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
}

.newsletter-catalog {
  padding-bottom: 104px;
}

.page-main-text-catalog {
  color: #333333;
}


/*Модальное окно*/

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.8);
  z-index: 1;
}

.modal-container-close {
  display: none;
}

.modal {
  position: relative;
  margin: auto;
  padding: 64px 70px;
  background-color: #ffffff;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.15);
  border-radius: 30px;
}

.modal-title {
  font-size: 30px;
  line-height: 36px;
  margin: 0 50px 64px 0;
  text-transform: uppercase;
}

.modal-search {
  width: 577px;
}

.modal-close-button {
  position: absolute;
  top: 64px;
  right: 52px;
  padding: 0;
  width: 52px;
  height: 52px;
  border-radius: 50%;
  background-color: #f2f2f2;
  border: none;
}

.modal-close-button svg {
  position: relative;
  top: 2px;
  left: 1px;
}

.modal-close-button:not(:disabled):hover {
  background-color: #e6e6e6;
}

.modal-close-button:focus {
  background-color: #e6e6e6;
  outline: 3px solid #83b3d3;
}

.modal-close-button:not(:disabled):active,
.modal-close-button svg:active {
  opacity: 0.4;
  background-color: #e6e6e6;
}

.modal-close-button:disabled {
  opacity: 0.2;
}

.field-date {
  margin-bottom: 23px;
}

.search-label {
  color: #000000;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4px;
  position: relative;
}

.search-label-subtitle {
  display: block;
  max-width: 120px;
}

.search-input {
  font-family: inherit;
  line-height: 24px;
  font-weight: 700;
  font-size: 18px;
  color: #000000;
  padding: 12px 50px 12px 20px;
  background-color: #f2f2f2;
  border-radius: 4px;
  border: none;
  width: 440px;
  box-sizing: border-box;
}

.search-input::placeholder {
  color: #000000;
  opacity: 0.6;
}

.input-calendar {
  position: absolute;
  right: 22px;
  opacity: 0.6;
}

.search-input:not(:disabled):hover {
  color: rgba(0, 0, 0, 0.6);
  background-color: #e6e6e6;
}

.search-input:focus {
  outline: 3px solid #83b3d3;
  background-color: #e6e6e6;
}

.search-input:disabled {
  opacity: 0.3;
}

.date-message {
  font-size: 16px;
  line-height: 21px;
  margin: 0;
  margin-left: auto;
  max-width: 420px;
}

.date-error {
  color: #ff5757;
}

.field-number {
  margin-bottom: 48px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.field-number-wrapper {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.counter-wrapper {
  display: flex;
}

.label-number-adults {
  margin-right: 46px;
}

.label-number-children {
  margin-right: 58px;
  margin-bottom: 0;
}

.search-input-number {
  line-height: 20px;
  padding: 10px 0;
  text-align: center;
  width: 30px;
  appearance: textfield;
  border-radius: 0;
  outline-offset: -2px;
}

.search-input-number::-webkit-outer-spin-button,
.search-input-number::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.button-counter {
  width: 40px;
  height: 48px;
  background-color: #f2f2f2;
  border: none;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

.button-counter:focus::after {
  content: "";
  width: 20px;
  height: 20px;
  border: 3px solid #82b3d3;
  border-radius: 4px;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.button-counter:focus {
  outline: none;
}

.button-counter:disabled {
  opacity: 0.4;
}

.button-plus {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.button-counter::before {
  content: "";
  width: 20px;
  height: 20px;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.2;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.button-plus::before {
  background-image: url("../images/modal/plus.svg");
}

.button-counter:not(:disabled):hover::before,
.button-counter:focus::before {
  opacity: 1;
}

.button-counter:not(:disabled):active::before {
  opacity: 0.2;
}

.button-minus {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.button-minus::before {
  background-image: url("../images/modal/minus.svg");
}

.button-search {
  font-size: 20px;
  line-height: 24px;
  background-color: #83b3d3;
  width: 100%;
  padding-top: 18px;
  padding-bottom: 18px;
  border-radius: 10px;
  border: none;
}

.button-search:not(:disabled):hover,
.button-search:focus {
  background-color: #68a2ca;
}

.button-search:not(:disabled):active {
  background-color: #68a2ca;
  color: rgba(255, 255, 255, 0.3);
}

.search-label-icon {
  position: relative;
  padding-right: 26px;
}

.tooltip {
  position: absolute;
  width: 26px;
  height: 26px;
  right: 48px;
}

.tooltip-toggle {
  width: 26px;
  height: 26px;
  border: none;
  background-image: url("../images/modal/info.svg");
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  background-color: #83b3d3;
  padding: 0;
  margin: 0;
  display: block;
}

.tooltip-toggle:not(:disabled):hover {
  background-color: #68a2ca;
}

.tooltip-toggle:not(:disabled):active {
  background-color: #82b3d3;
}

.tooltip-toggle:disabled {
  opacity: 0.3;
}

.tooltip-text {
  width: 216px;
  color: #ffffff;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: none;
  padding: 15px 18px 18px 22px;
  background-color: #333333;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  position: absolute;
  top: 40px;
  left: 50%;
  transform: translateX(-50%);
  display: none;
  z-index: 1;
}

.tooltip-text::before {
  content: "";
  width: 19px;
  height: 9px;
  position: absolute;
  background-image: url("../images/modal/tooltip-arrow.svg");
  bottom: 100%;
  left: 0;
  right: 0;
  margin: auto;
}

.tooltip-toggle:not(:disabled):hover + .tooltip-text,
.tooltip-toggle:not(:disabled):focus + .tooltip-text {
  display: block;
}
